{% load static %}
<html>
    <head>
        <link rel='stylesheet' href='{% static "css/blog.css" %}'>
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
        <title>Blog</title>
    </head>
    <body>
        <div class='page-header'>
            <h1><a href='{% url "post_detail" pk=post.pk %}'>{{ post.title }}</a></h1>
        </div>
    <div class='content container'>
    <div class='row'>
        <div class='col-md-8'>
            {% for post in posts %}
                <div class='post'>
                    <div class='date'>
                        <p>Published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href=''>{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    </body>
</html>